:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: #333;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(232, 214, 229);
  margin: 0;
  padding: 0;
  text-align: center
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 81px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-link {
  /* display: inline-block; */
  border-radius: 10px;
  width: 100%;
  padding: 8px;
  margin: 0 6px;
  background: white;
  text-decoration: none;
  text-align: center;
  font-size: min(12vw, 16px);
  color: black;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link:hover {
  background-color: rgb(176, 178, 187);
}

.active {
  background: rgb(68, 23, 68);
  color: white;
}

.button-link, .button-link-match {
  display: inline-block;
  padding: 10px 10px;
  background-color: #3b1836;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px 5px;
}

.button-link:hover, .button-link-match:hover {
  background-color: rgb(185, 150, 193);
}

.button-normal {
  display: inline-block;
  padding: 10px 10px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 2px 2px 15px 2px;
}

button:hover {
  background-color: rgb(42, 44, 52);
}

.wrapper {
  padding-top: 90px;
  padding-left: 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

input,
select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.card
  {
  background-color: rgb(201, 173, 203);
  padding: 10px 10px 10px 10px;
  margin: 10px 20px 10px 10px;
  text-align: center;
  box-shadow: rgba(93, 41, 95, 0.5) 0 2px 5px 0;
  border: 1px solid #4a2650;
  border-radius: 10px;
}

a {
  color: rgb(25, 53, 112);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
}

form input,
form select,
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(42, 44, 52);
}

.homepage {
  text-align: center
}